$black-color: #000;

$yellow-background-color: rgb(255, 253, 197);
$green-background-color: rgb(224, 255, 188);

$yellow-scrollbar-color:  rgb(255, 254, 215);
$green-scrollbar-color: rgb(114, 187, 31);

$orange-selection-color: #F44336;
$yellow-selection-background-color: #fff826;

$dark-green-ofgem-table-color: rgb(79, 146, 3);
$white-ofgem-table-color: rgb(255, 255, 255);

$foldable-grey-color: rgb(136, 135, 135);

$table-striped-odd-color: rgb(190, 251, 119);
$table-striped-even-color: #eeffb5;

$loader-background-color: rgba(190, 226, 190, 0.9);
$loader-border-color: rgb(255, 255, 255); 
$loader-box-shadow-white-color: rgb(255, 255, 255); 
$loader-box-shadow-black-color:  rgba(0, 0, 0, .1);;

$foldable-background-color: rgb(224, 255, 188);

$tbody-background-color-green-color: rgb(190, 245, 136);

$button-color-black-color: #212529;
$button-background-color: #F8F9FA;
$button-background-hovered-color: #f5f8fa;
$button-border-color: #f8f9fa;
$button-background-color-light-color: #f8f9fa;
$button-focus-box-shadow: 0px 0px 20px #d0d3d6;
$button-color-white-color: #fff;
$button-background-green-color: #28a745;
$button-focus-box-green-shadow: 0px 0px 20px #50fa25;
$button-border-color-green: #28a745;
$button-background-hovered-green-color: #299041;
$button-background-color-blue: rgb(59, 109, 245);
$button-background-hovered-blue-color: rgb(55, 55, 245);
$button-focus-box-shadow-blue: 0px 0px 20px rgb(9, 50, 235);
$button-background-color-red: rgb(223, 50, 27);
$button-background-hovered-red-color: rgb(223, 9, 9);
$button-focus-box-shadow-red: 0px 0px 20px rgb(238, 55, 55);



