.o-container {
    width : 100%;
    margin: 0 auto;
    padding-top: 50px;


    &--import-page {
        max-width: 640px;
    }

    &--row {
        display  : flex;
        flex-wrap: wrap;
    }

    &--no-gutters {
        margin-right : 0;
        margin-left  : 0;
        padding-right: 0;
        padding-left : 0;
    }

    &--col-md-6 {
        position        : relative;
        width           : 100%;
        // padding-right: 15px;
        // padding-left: 15px;

        @media (min-width: 768px) {
            -ms-flex : 0 0 50%;
            flex     : 0 0 50%;
            max-width: 50%;
        }
    }

    &--center {
        display        : flex !important;
        -ms-flex-align : center !important;
        align-items    : center !important;
        justify-content: center !important;

        // height: 100%;
        // width: 100%;

        &--queries-menu {
            margin-top: 1em;
        }

        &--uploaded-files {
            max-height: 80% !important;
            margin-top: -4em !important;
        }

        &--data-manipulation {
            margin-top: 10em !important;
        }

        &--generated-error-rows {
            height: 100%;
            width : 100%;
        }
    }

    // Loader
    &--loader__block {
        width : 640px;
        height: auto;
    }

    &--loader__back-button {
        width     : 100%;
        height    : 5em;
        text-align: center;
    }
}

.o-container-wrapper {
    padding         : 10px 20px;
    text-align      : center;
    border          : 1px solid black;
    border-radius   : 1rem;
    margin          : 30px;
    background-color: lightgoldenrodyellow;
    box-shadow      : 0 0 1rem 0 rgba(0, 0, 0, 1.5);
    min-width       : 300px;
    max-width       : 300px;

    &__card-title {
        // display: flex;
        vertical-align: center;
        text-align    : center;
        justify-content: center;
        align-items    : center;
        align-content  : center;
        min-height    : 103px;
        margin-bottom : 20px !important;

    }
}

.o-container-cards-wrapper {
    margin-top: 6%;
    display   : flex;
    flex-flow : row;

    @media only screen and (max-width: 1420px) {
        margin-top: 20px;
        flex-flow : column !important;
    }
}