@import "../01-settings/settings-colors.scss";

.u-accordion {
    cursor: pointer !important;
    color: $black-color !important;
    font-size: 1em !important;
}

.u-accordion:before {
    content: "+";
    font-size: 2em;
}

.u-accordion.active:before {
    content: '-';
}